<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <!--<add name="ConexionSQL" connectionString="Data Source=180.185.44.225,60000;Initial Catalog=BEMX_Job_Launcher;User ID=BEMX_Job_Launcher;Password=BEMX_Job_Launcher;" providerName="System.Data.SqlClient"/>-->
     <add name="ConexionSQL" connectionString="Data Source=180.185.44.225,60000;Initial Catalog=BEMX_Job_Launcher;User ID=BEMX_Job_Launcher;Password=BEMX_Job_Launcher;" providerName="System.Data.SqlClient"/>
  
    <!-- Conexion necesaria para el distribuidor -->
    <add name="Conexion_Distributor" connectionString="Data Source=180.185.44.225,60000;Initial Catalog=AUTO_JOB_DISTRIBUTOR;User ID=AUTO_JOB_DISTRIBUTOR;Password=AUTO_JOB_DISTRIBUTOR;" providerName="System.Data.SqlClient"/>  
  <!--<add name="Conexion_Distributor" connectionString="Data Source=180.185.44.220,50000;Initial Catalog=AUTO_JOB_DISTRIBUTOR;User ID=AUTO_JOB_DISTRIBUTOR;Password=AUTO_JOB_DISTRIBUTOR;" providerName="System.Data.SqlClient"/>-->  
  </connectionStrings>
  <appSettings>
    <add key="User" value="Automata"/>
    <add key="FileSystem" value="BEMX_FileSystem"/> 
    <add key="IdAutomata" value="12"/> 
    <add key="BrowserVisible" value="true"/>
    <add key="DebugInfo" value="true"/>
    <add key="Execution_Mode" value="job"/> <!--job, direct, unatended -->
    <add key="Execution_Type" value="desktop"/> <!--web, host, desktop -->
    <add key="TEMPFILES" value="TEMPFILES\"/>
    <add key="funcionamiento_en_bucle" value="false"/>
    <add key="number_retry_excecution" value="0"/>
    <add key="Miliseconds_wait_sentence" value="300000"/>
    <add key="PROCEDURE_GET_JOB" value="CORE_SP_GET_JOB"/>
    <add key="PROCEDURE_GET_JOB_PARAMS" value="Id_Type_Auto=1"/>
    <add key="PROCEDURE_UPDATE_JOB" value="CORE_SP_END_JOB"/>
    
    <add key="DISTRIBUTOR_GET_POOL" value="CORE_D_SP_DISTRIBUTOR_GET_POOL"/>
    

    <add key="SCREENSHOT" value="yes"/>
    <add key="SCREENSHOT_DIR" value="PICS\"/>
    
    <!-- Nuevas entradas para el Distribuidor -->    
    <add key="ID_Job_Launcher" value="1"/>
    
    <add key="test_distributor" value="false"/>
    <add key="Count_test_distributor" value="1"/>
  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IListener"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:31661/Listener.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListener" contract="PSCM_ReceiveInfo.IListener" name="BasicHttpBinding_IListener"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
