<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConexionPSCMSQL" connectionString="Data Source=180.185.44.220,50000;Initial Catalog=PSCM_RVCD;Persist Security Info=True;User ID=PSCM_RVCD;Password=PSCM_RVCD;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConexionPSCMSQL" connectionString="Data Source=180.185.44.220,50000;Initial Catalog=PSCM_COMEX;User ID=PSCM_COMEX;Password=PSCM_COMEX;" providerName="System.Data.SqlClient"/>-->

    <add name="ConexionSQL" connectionString="Data Source=180.185.44.220,50000;Initial Catalog=PSCM_SEPA_COMEX;User ID=PSCM_SEPA_COMEX;Password=PSCM_SEPA_COMEX;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <appSettings>
    <!--<add key="usuarioOperacion" value="Clasificador"/>
    <add key="ExceptionXmlFile" value="/Exceptions.xml"/>
    <add key="FieldKey" value="ID CASE:"/>-->
  <add key="FileSystem" value="SEPA_FileSystem_PRUEBAS"/> 
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WSReceiveInfo.IListener">
        <endpoint bindingConfiguration="msgSize" binding="webHttpBinding" contract="System.Data.Services.GetDataParam" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="msgSize" maxReceivedMessageSize="2097152" maxBufferSize="2097152" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
