<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionSQL" connectionString="Data Source=180.185.44.220,50000;Initial Catalog=PSCM_SEPA_COMEX;User ID=PSCM_SEPA_COMEX;Password=PSCM_SEPA_COMEX;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>

    <add key="FileSystem" value="SEPA_FileSystem_PRUEBAS"/> 
    <add key="TEMPFILES" value="TEMPFILES\"/>
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_CreateJob" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gbwcadgi01.scgbnpre.geoban.corp/WSCreateJob_FACTIVA/Service_CreateJob.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_CreateJob"
        contract="WS_CreateJob.IService_CreateJob" name="BasicHttpBinding_IService_CreateJob" />
    </client>
  </system.serviceModel>
</configuration>